.header-container{
    background: rgb(128, 26, 26);
    box-shadow: 0px 1px 1px black;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.title{
    flex: 1;
    text-align: center;
}

.logo img {
    height: 100px;
}

ul {
    list-style: none;
}

.rectangular-button.primary-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0a0a0a;
    border-radius: 4px;
    color: #070707;
    margin-right: 10px;
    margin-bottom: 2px;
    background-color: #fff;
}

.rectangular-button:hover {
    background-color: #333;
    color: #fff;
}


.main-container {
    max-width: 1100px;
    margin: 0 auto;
}

.custom_body {
    display: flex;
    justify-content: space-between;
  }

  #image-preview img {
    max-width: 100%;
    max-height: 200px;
  }

  table {
    width: 150%;
    margin-bottom: 10px;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
  }

  th {
    background-color: #f2f2f2;
    /*border: 1px solid black;*/
  }

  th:first-child, td:first-child {
    width: 30%;
  }

  td:last-child {
    text-align: right;
  }

  .custom_body_3 img {
    height: 70px;
    margin-left: 50px;
    margin-top: 50px;
  }

.rectangular-button.secondary-button {
    padding: 35px;
    border: 2px solid #333;
    border-radius: 50%;
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
    background: rgb(128, 26, 26);
    position: absolute;
    top: 70%;
    left: 40%;
}