.header-container{
    background: rgb(128, 26, 26);
    width: 100%;
    box-shadow: 0px 1px 1px black;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.title{
    flex: 1;
    text-align: center;
}

#image-preview {
    max-width: 100%;
    height: auto;
}

#image-preview img {
    max-width: 100%;
    height: auto;
}