*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 800px;
}

.header-container{
    background: rgb(128, 26, 26);
    width: 100%;
    box-shadow: 0px 1px 1px black;
    justify-content: space-between;
    display: flex;
    padding: 10px;

}

.logo img {
    height: 100px;
}

.title{
    flex: 1;
    text-align: center;
    margin-top: 1px;
    margin-left: -150px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    width: 300px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}