<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Custom Builds</title>
        <link rel="stylesheet" type="text/css" href="../static/css/bedroom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="../static/images/logo.PNG" alt="Custom Builds">
                </div>
                <div class="title">
                    <div class="the_title">
                        <h1> THE ULTIMATE DREAM CATCHER </h1>
                        <h4> Creating a haven of tranquility </h4>
                    </div>

                    <div class="buttons">
                        <ul>
                            <li> <a href="customer_stories.html" class="rectangular-button"> Customer Stories </a></li>
                            <li> <a href="whatweoffer.html#footer" class="rectangular-button"> Contact us </a></li>
                            <li> <a href="whatweoffer.html" class="rectangular-button"> Back </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <form action="/add_photo" method="POST" enctype="multipart/form-data" class="upload-form">
                <label for="photo"> Photo: </label>
                <input type="file" name="photo" id="photo" accept="image/*" required>

                <label for="heading"> Heading: </label>
                <input type="text" name="heading" id="Heading" placeholder="heading" required>

                <label for="description"> Description: </label>
                <input type="text" name="description" id="description" placeholder="Description" required>

                <label for="price"> Price: </label>
                <input type="number" name="price"  id="price" step="0.01" placeholder="Price" required>

                <input type="submit" value="Upload">
            </form>

            <div class="container">
                <div class="card">
                    <img src="../static/images/bedroom 5.jpg" alt="Fifth_piece">
                    <h2> Bunny Wonderland</h2>
                    <p> Elevate elegance and luxury for your child with bunny wonderland</p>
                    <div class="price"> Ksh 82,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/Bedroom2.jpg" alt="Second_piece">
                    <h2> Metalic Gold </h2>
                    <p> Rose gold metalic bed frame </p>
                    <div class="price"> Ksh 120,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/beroom_3.jpg" alt="Third_piece">
                    <h2> Floating Bed </h2>
                    <p> Black board floating bed with LED underbed lighting</p>
                    <div class="price"> Ksh 84,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/bedroom_4.jpg" alt="Fourth_piece">
                    <h2> Whimsical baby bed</h2>
                    <p> Twin bed with overhead alcove in pink</p>
                    <div class="price"> Ksh 79,599 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/Bedroom.jpg" alt="First_piece">
                    <h2> Butterfly </h2>
                    <p> Queen size bed with a Butterfly headboard</p>
                    <div class="price"> Ksh 112,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>



                <div class="card">
                    <img src="../static/images/bedroom_6.jpg" alt="Sixth_piece">
                    <h2> Shell Headboard</h2>
                    <p> Queen size comfort bed with shell headboard design</p>
                    <div class="price"> Ksh 95,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>
            </div>
        </main>
        <script src="../static/scripts/like_and_order.js"></script>
    </body>
</html>