<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Builds</title>
    <link rel="stylesheet" type="text/css" href="../static/css/custom_builds.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../static/images/logo.PNG" alt="Custom Builds">
            </div>
            <div class="title">
                <div class="the_title">
                    <h1> FURNITURE THAT TELLS YOUR STORY </h1>
                </div>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="index.html" class="rectangular-button primary-button"> Home </a></li>
                    <li><a href="whatweoffer.html" class="rectangular-button primary-button"> Back </a></li>
                </ul>
            </div>
        </div>

    </header>
    <main class="main-container">
        <div class="custom_body">
            <div class="custom_body_1">
                <form>
                    <input type="file" id="image-input" accept="image/*">
                    <div id="image-preview"></div>
                </form>
            </div>
            <div class="custom_body_2">
                <h1>DATES TO NOTE</h1>
                <table>
                    <tr>
                        <th>Start date:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Date of completion:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Update Date:</th>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="custom_body_3">
                <h1> PAYMENT DETAILS</h1>
                <table>
                    <tr>
                        <th>Deposit:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Delivery fee:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Payment on delivery:</th>
                        <td></td>
                    </tr>
                </table>
                <img src="../static/images/mpesa logo.jpeg" alt="mpesa">
            </div>
        </div>
        <a href="../templates/review.html" class="rectangular-button secondary-button"> Tell your story </a>  
    </main>
    <script src="../static/scripts/image_upload.js"></script>
</body>
</html>