<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Builds</title>
    <link rel="stylesheet" type="text/css" href="../static/css/customer_stories.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../static/images/logo.PNG" alt="Custom Builds">
            </div>
            <div class="title">
                <div class="the_title">
                    <h1> CUSTOMER STORIES </h1>
                    <h3> We value your feedback </h3>
                </div>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="index.html" class="rectangular-button"> Home </a></li>
                    <li><a href="whatweoffer.html" class="rectangular-button"> What we offer </a></li>
                </ul>
            </div>
        </div>
    </header>
</body>
<main>
    
</main>
</html>