<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Builds</title>
    <link rel="stylesheet" type="text/css" href="../static/css/custom_builds.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../static/images/logo.PNG" alt="Custom Builds">
            </div>
            <div class="title">
                <div class="the_title">
                    <h1> FURNITURE THAT TELLS YOUR STORY </h1>
                </div>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="index.html" class="rectangular-button primary-button"> Home </a></li>
                    <li><a href="whatweoffer.html" class="rectangular-button primary-button"> Back </a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main-container">
        <div class="custom_body">
            <div class="custom_body_1">
                <h1>UPLOADED ORDER</h1>
                <div class="image-container">
                    <img src="" alt="Uploaded Photo 1">
                </div>
            </div>            
            <div class="custom_body_5">
                <h1>MEASUREMENTS & COLOR SPECIFICATION</h1>
                <form>
                    <label for="measurements">Measurements:</label>
                    <input type="text" id="measurements" name="measurements" required>
                    <label for="color-specification">Color Specification:</label>
                    <input type="text" id="color-specification" name="color-specification" required>
                </form>
            </div>

            <div class="custom_body_2">
                <h1>PROGRESS PHOTOS</h1>
                <div class="progress-photos-container">
                    <div class="image-container">
                        <img src="" alt="Progress Photo 1">
                    </div>
                    <div class="image-container">
                        <img src="" alt="Progress Photo 2">
                    </div>
                </div>
            </div><br>

            <div class="custom_body_4">
                <h1>COMPLETED PHOTO</h1>
                <div class="image-container">
                    <img src="" alt="Completed Photo">
                </div>
            </div>
            <br>
            
            <div class="custom_body_6">
                <h1>DATES TO NOTE</h1>
                <table>
                    <tr>
                        <th>Start date:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Update Dates:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Date of completion:</th>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="custom_body_7">
                <h1>PAYMENT DETAILS</h1>
                <table>
                    <tr>
                        <th>Total Amount:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Deposit:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Delivery Fee:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Payment on Delivery:</th>
                        <td></td>
                    </tr>
                </table>
                <img src="../static/images/mpesa logo.jpeg" alt="mpesa">
            </div>
        </div>
        <a href="../templates/review.html" class="round-button secondary_button"> Tell your story </a>  
    </main>
</body>
</html>
