<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Builds</title>
  <link rel="stylesheet" type="text/css" href="../static/css/dining.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  <header>
    <div class="header-container">
      <div class="logo">
        <img src="../static/images/logo.PNG" alt="Custom Builds">
      </div>
      <div class="title">
        <div class="the_title">
          <h1>DINING IN THE CLOUDS LIKE KINGS</h1>
          <h4>We can only hope...</h4>
        </div>
        <div class="buttons">
          <ul>
            <li><a href="customer_stories.html" class="rectangular-button">Customer Stories</a></li>
            <li><a href="whatweoffer.html#footer" class="rectangular-button">Contact us</a></li>
            <li><a href="whatweoffer.html" class="rectangular-button">Back</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>
    <form action="/add_photo" method="POST" enctype="multipart/form-data" class="upload-form">
      <label for="photo"> Photo: </label>
      <input type="file" name="photo" id="photo" accept="image/*" required>

      <label for="heading"> Heading: </label>
      <input type="text" name="heading" id="Heading" placeholder="heading" required>

      <label for="description"> Description: </label>
      <input type="text" name="description" id="description" placeholder="Description" required>

      <label for="price"> Price: </label>
      <input type="number" name="price"  id="price" step="0.01" placeholder="Price" required>

      <input type="submit" value="Upload">
  </form>
  
    <div class="container">
      <div class="card">
        <img src="../static/images/Dining.jpg" alt="First_on_offer">
        <h2>Bar stools</h2>
        <p>High-end bar stools</p>
        <div class="price">Ksh 72,000</div>
        <div class="like-btn">
          <i class="fas fa-heart"></i>
          <span class="like-count">0</span>
        </div>
        <div class="order-btn">Order</div>
      </div>

      <div class="card">
        <img src="../static/images/dining_1.jpg" alt="Second_on_offer">
        <h2>Stone form</h2>
        <p>Free-form sintered stone dining</p>
        <div class="price">Ksh 120,000</div>
        <div class="like-btn">
          <i class="fas fa-heart"></i>
          <span class="like-count">0</span>
        </div>
        <div class="order-btn">Order</div>
      </div>

      <div class="card">
        <img src="../static/images/dining_2.jpg" alt="Third_on_offer">
        <h2>Modern luxury</h2>
        <p>Simplicity style oval dining with marble</p>
        <div class="price">Ksh 131,000</div>
        <div class="like-btn">
          <i class="fas fa-heart"></i>
          <span class="like-count">0</span>
        </div>
        <div class="order-btn">Order</div>
      </div>
      
      <div class="card">
        <img src="../static/images/dining_3.jpg" alt="Fourth_on_offer">
        <h2>Pedestal dining table</h2>
        <p>Six-person dining set with tucked chairs</p>
        <div class="price">Ksh 100,000</div>
        <div class="like-btn">
          <i class="fas fa-heart"></i>
          <span class="like-count">0</span>
        </div>
        <div class="order-btn">Order</div>
      </div>

      <div class="card">
        <img src="../static/images/dining_4.jpg" alt="Fifth_on_offer">
        <h2>House of cards</h2>
        <p>We let this master speak for itself</p>
        <div class="price">Ksh 98,999</div>
        <div class="like-btn">
          <i class="fas fa-heart"></i>
          <span class="like-count">0</span>
        </div>
        <div class="order-btn">Order</div>
      </div>

      <div class="card">
        <img src="../static/images/dining_5.jpg" alt="Sixth_on_offer">
        <h2>Sultan set</h2>
        <p>Get your king vibes with these sultan-inspired high-end pieces</p>
        <div class="price">Ksh 115,000</div>
        <div class="like-btn">
          <i class="fas fa-heart"></i>
          <span class="like-count">0</span>
        </div>
        <div class="order-btn">Order</div>
      </div>
    </div>
  </main>
  <script src="../static/scripts/like_and_order.js"></script>
</body>
</html>
