<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Builds</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="header-container">
          <div class="logo">
              <img src="../static/images/logo.PNG" alt="Custom Builds">
          </div>
          <div class="search-bar">
              <input type="text" id="search-input" placeholder="Search...">
              <div class="dropdown">
                <button class="dropdown-toggle" id="dropdown-btn">Filter</button>
                <div class="dropdown-content" id="dropdown-content">
                    <a href="#">On Offer</a>
                    <a href="#">Living Room</a>
                    <a href="#">Dining</a>
                    <a href="#">Bedroom</a>
                    <a href="#">Outdoors</a>
                    <a href="#">Custom Builds</a>
                </div>
              </div>
              <button type="submit"><img src="../static/images/search.jpg" alt="Search"></button> 
          </div>
          <div class="navigation">
               <ul>
                  <li><a href="login.html" class="rectangular-button">Login/Sign up</a></li>
                  <li><a href="whatweoffer.html" class="rectangular-button">What we offer</a></li>
                  <li><a href="whatweoffer.html#footer" class="rectangular-button">Contact us</a></li>                  
              </ul>
          </div>
        </div>
    </header>

    <main>
        <div class="builders-image">
            <div class="company-info">
                <h1>About Us</h1>
                <p> <b> Custom Builds. </b> </b><br> Your one stop shop <br> where comfort <br> meets <br> craftsmanship. <br> Bringing elegance to <br> your living space <br> with furniture that <br> sparks <br> conversations.</b></p>
            </div>
        </div>

        
    </main>
    <script src="../static/scripts/search.js"></script>

   </body>
</html>
