<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Custom Builds</title>
        <link rel="stylesheet" type="text/css" href="../static/css/livingroom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="../static/images/logo.PNG" alt="Custom Builds">
                </div>
                <div class="title">
                    <div class="the_title">
                        <h1> LIVING IN PARADISE</h1>
                        <h4> Dreams come true</h4>
                    </div>

                    <div class="buttons">
                        <ul>
                            <li> <a href="customer_stories.html" class="rectangular-button"> Customer Stories </a></li>
                            <li> <a href="whatweoffer.html#footer" class="rectangular-button"> Contact us </a></li>
                            <li> <a href="whatweoffer.html" class="rectangular-button"> Back </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <form action="/add_photo" method="POST" enctype="multipart/form-data" class="upload-form">
                <label for="photo"> Photo: </label>
                <input type="file" name="photo" id="photo" accept="image/*" required>

                <label for="heading"> Heading: </label>
                <input type="text" name="heading" id="Heading" placeholder="heading" required>

                <label for="description"> Description: </label>
                <input type="text" name="description" id="description" placeholder="Description" required>

                <label for="price"> Price: </label>
                <input type="number" name="price"  id="price" step="0.01" placeholder="Price" required>

                <input type="submit" value="Upload">
            </form>
            <div class="container">                
                <div class="card">
                    <img src="../static/images/10 reading nook ideas for your home.png" alt="Fifth_piece">
                    <h2> Reading nook chair </h2>
                    <p> Victorian style window two seater </p>
                    <div class="price"> Ksh 52,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/livingroom_3.jpg" alt="Fourth_piece">
                    <h2> Epic Purple </h2>
                    <p> A three seater purple marvel with a single seat of the future </p>
                    <div class="price"> Ksh 82,999 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/Awesome bohemian chair.jpg" alt="Sixth_piece">
                    <h2> Bohemian chair </h2>
                    <p> Beautiful bohemian chair covered in velvet </p>
                    <div class="price"> Ksh 54,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>


                <div class="card">
                    <img src="../static/images/living_room_1.jpg" alt="Second_piece">
                    <h2> Pink seatees </h2>
                    <p> Two baby pink single seatees with their side tables</p>
                    <div class="price"> Ksh 90,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>         

                <div class="card">
                    <img src="../static/images/Living room what!.jpg" alt="First_piece">
                    <h2> Blue baddie </h2>
                    <p>  Baby blue four seater with pouf </p>
                    <div class="price"> Ksh 60,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/livingroom_2.jpg" alt="Third_pieces">
                    <h2> Color burst </h2>
                    <p> Multi colored two seater with three mushroom sides </p>
                    <div class="price"> Ksh 45,599 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>
                
            </div>
        </main>
        <script src="../static/scripts/like_and_order.js"></script>
    </body>
</html>