<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Custom Builds</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/On_offer.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
    <body>
        <header>
                <div class="header-container">
                    <div class="logo">
                        <img src="../static/images/logo.PNG" alt="Custom Builds">
                    </div>
                    <div class="title">
                        <div class="the_title">
                            <h1> GREAT OFFERS FROM OUR SELECT PIECES</h1>
                            <h4> Christmas is come... early</h4>
                        </div>

                        <div class="buttons">
                            <ul>
                                <li> <a href="{{ url_for('customer_stories') }}" class="rectangular-button"> Customer Stories </a></li>
                                <li> <a href="{{ url_for('whatweoffer') }}#footer" class="rectangular-button"> Contact us </a></li>
                                <li> <a href="{{ url_for('whatweoffer') }}" class="rectangular-button"> Back </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        
            <main>
                {% if not hide_form %}
                <form action="/add_photo" method="POST" enctype="multipart/form-data" class="upload-form">
                    <label for="photo"> Photo: </label>
                    <input type="file" name="photo" id="photo" accept="image/*" required>

                    <label for="heading"> Heading: </label>
                    <input type="text" name="heading" id="Heading" placeholder="heading" required>

                    <label for="description"> Description: </label>
                    <input type="text" name="description" id="description" placeholder="Description" required>

                    <label for="price"> Price: </label>
                    <input type="number" name="price"  id="price" step="0.01" placeholder="Price" required>

                    <label for="amount_saved"> Amount saved: </label>
                    <input type="number" name="amount_saved"  id="amount_saved" step="0.01" placeholder="Amount Saved">

                    <input type="submit" value="Upload">
                </form>
                {% endif %}
                  
                <div class="container">
                    <div class="card">
                        <img src="../static/images/on_offer_1.jpg" alt="First_on_offer">
                    <h2> Pink flamingo </h2>
                    <p> Fluffy feathery flamingo seat with unique flamingo legs </p>
                    <div class="price"> Ksh 45,000 </div>
                    <div class="saves"> Save Ksh 5,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/on_offer_2.jpg" alt="Second_on_offer">
                    <h2> Moon chair </h2>
                    <p> White moon chair with sectioned seat pillows for beauty and comfort</p>
                    <div class="price"> Ksh 25,000 </div>
                    <div class="saves"> Save Ksh 4,500 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/on_offer_3.jpg" alt="Third_on_offer">
                    <h2> Shell seat</h2>
                    <p> Shell ocean vybe type seat </p>
                    <div class="price"> Ksh 32,000 </div>
                    <div class="saves"> Save Ksh 7,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/on_offer_4.jpg" alt="Fourth_on_offer">
                    <h2> Bedside table </h2>
                    <p> Balance in the age of casual with this sleek piece </p>
                    <div class="price"> Ksh 35,000 </div>
                    <div class="saves"> Save Ksh 1,200 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/on_offer_5.jpg" alt="Fifth_on_offer">
                    <h2> Classy </h2>
                    <p> Just classy</p>
                    <div class="price"> Ksh 27,000 </div>
                    <div class="saves"> Save Ksh 3,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>

                <div class="card">
                    <img src="../static/images/Bedside table.jpg" alt="Sixth_on_offer">
                    <h2> whimsical junior </h2>
                    <p> Whimsical side table giving luxurious vibes </p>
                    <div class="price"> Ksh 22,000 </div>
                    <div class="saves"> Save Ksh 5,000 </div>
                    <div class="like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">0</span>
                    </div>
                    <div class="order-btn"> Order </div>
                </div>
            </div>
        </main>
        <script src="{{ url_for('static', filename='scripts/like_and_order.js') }}"></script>
    </body>
</html>