<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Custom Builds</title>
        <link rel="stylesheet" type="text/css" href="../static/css/outdoors.css">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="../static/images/logo.PNG" alt="Custom Builds">
                </div>
                <div class="title">
                    <div class="the_title">
                        <h1> WHERE DAYDREAMS TURN TO REALITY </h1>
                        <h4> Soak up the rays </h4>
                    </div>

                    <div class="buttons">
                        <ul>
                            <li> <a href="customer_stories.html" class="rectangular-button"> Customer Stories </a></li>
                            <li> <a href="whatweoffer.html#footer" class="rectangular-button"> Contact us </a></li>
                            <li> <a href="whatweoffer.html" class="rectangular-button"> Back </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="card">
                    <img src="../static/images/outdoors_1.jpg" alt="First_piece">
                    <h2> Fluffy hanging chair</h2>
                    <p> Not your ordnary hanging chair ain't it?</p>
                    <div class="price"> Ksh 45,000 </div>
                    <div class="like-btn"> Like </div>
                    <div class="order-btn"> Order </div>
                </div>
                <div class="card">
                    <img src="../static/images/outdoors_2.jpg" alt="Second_piece">
                    <h2> Wicker seat</h2>
                    <p> Perfect chill spot</p>
                    <div class="price"> Ksh 54,000 </div>
                    <div class="like-btn"> Like </div>
                    <div class="order-btn"> Order </div>
                </div>
                <div class="card">
                    <img src="../static/images/outdoors_3.jpg" alt="Third_piece">
                    <h2> Rocco fireplace </h2>
                    <p> Multifunctional outdoor furniture in matte black</p>
                    <div class="price"> Ksh 150,000 </div>
                    <div class="like-btn"> Like </div>
                    <div class="order-btn"> Order </div>
                </div>
                <div class="card">
                    <img src="../static/images/outdoors_4.jpg" alt="Fourth_piece">
                    <h2> Rope is dope </h2>
                    <p> Coastal inspired roap stools </p>
                    <div class="price"> Ksh 15,000 </div>
                    <div class="like-btn"> Like </div>
                    <div class="order-btn"> Order </div>
                </div>
                <div class="card">
                    <img src="../static/images/outdoors_5.jpg" alt="Fifth_piece">
                    <h2> Vincent sheppard chair</h2>
                    <p> Outdoor weave elegant, modern chair</p>
                    <div class="price"> Ksh 25,000 </div>
                    <div class="like-btn"> Like </div>
                    <div class="order-btn"> Order </div>
                </div>
                <div class="card">
                    <img src="../static/images/outdoor_6.jpg" alt="Sixth_piece">
                    <h2> Patio bed</h2>
                    <p> Black woven outdoor patio bed with water proof material </p>
                    <div class="price"> Ksh 77,000 </div>
                    <div class="like-btn"> Like </div>
                    <div class="order-btn"> Order </div>
                </div>
            </div>
        </main>
        <script src="../static/scripts/like_and_order.js"></script>
    </body>
</html>