<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Builds</title>
    <link rel="stylesheet" type="text/css" href="../static/css/review.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../static/images/logo.PNG" alt="Custom Builds">
            </div>
            <div class="title">
                <div class="the_title">
                    <h1> Give us your feedback </h1>
                </div>
            </div>
        </div>
    </header>
</body>
<main>
    <div class="comment-box">
        <h2>Comment here</h2>
        <form action="#">
            <input type="Text" name="Name" placeholder="Username...">
            <input type="email" name="email" placeholder="Email address...">
            <textarea name="comment" placeholder="Type Your Comment..."></textarea>
            <button type="submit">Submit Comment</button>
        </form>
    </div>
</main>
</html>