<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Custom Builds</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/terms.css') }}">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="../static/images/logo.PNG" alt="Custom Builds">
                </div>
                <div class="title">
                    <div class="the_title">
                        <h1> TERMS AND CONDITIONS </h1>
                    </div>
                    <div class="buttons">
                        <ul>
                            <li> <a href="{{ url_for('whatweoffer') }}" class="rectangular-button"> back </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <h1>Terms and Conditions</h1>

            <h2>1. Introduction</h2>
            <p>Welcome to our website. These terms and conditions govern your use of our website; by using our website, you accept these terms and conditions in full. If you disagree with any part of these terms and conditions, please do not use our website.</p>
        
            <h2>2. Intellectual Property Rights</h2>
            <p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>
        
            <h2>3. Restrictions</h2>
            <p>You are restricted from the following:</p>
            <ul>
                <li>publishing any website material in any media;</li>
                <li>selling, sublicensing, and/or otherwise commercializing any website material;</li>
                <li>publicly performing and/or showing any website material;</li>
                <li>using this website in any way that is or may be damaging to this website;</li>
                <li>using this website in any way that impacts user access to this website;</li>
                <li>using this website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the website, or to any person or business entity;</li>
                <li>engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this website;</li>
                <li>using this website to engage in any advertising or marketing.</li>
            </ul>
        
            <h2>4. Limitation of Liability</h2>
            <p>In no event shall we be liable for any loss or damage of any nature arising out of or in connection with your use of our website.</p>
        
            <h2>5. Governing Law</h2>
            <p>These terms and conditions shall be governed by and construed in accordance with the laws of Kenya, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of Kenya.</p>
        </main>
    </body>
</html>