<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Builds</title>
    <link rel="stylesheet" type="text/css" href="../web_static/css/whatweoffer.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../web_static/images/logo.PNG" alt="Custom Builds">
            </div>
            <div class="title">
                <div class="the_title">
                    <h1> WHAT WE OFFER </h1>
                </div>

                <div class="buttons">
                    <ul>
                        <li> <a href="customer_stories.html" class="rectangular-button"> Customer Stories </a></li>
                        <li> <a href="#footer" class="rectangular-button"> Contact us </a></li>
                        <li> <a href="index.html" class="rectangular-button"> Home </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="sections">
            <div class="row">
                <a href="On_offer.html">
                    <img src="../web_static/images/On-offer.jpg" alt="">
                    <div class="content">
                        <h3> ON OFFER </h3>
                    </div>
                </a>                
            </div>
            <div class="row">
                <a href="livingroom.html">
                    <img src="../web_static/images/Livingroom.jpg" alt="">
                    <div class="content">
                        <h3> LIVING ROOM </h3>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="dining.html">
                    <img src="../web_static/images/Dining.jpg" alt="">
                    <div class="content">
                        <h3> DINING</h3>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="bedroom.html">
                    <img src="../web_static/images/Bedroom.jpg" alt="">
                    <div class="content">
                        <h3> BEDROOM </h3>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="outdoors.html">
                    <img src="../web_static/images/Backyard.jpg" alt="">
                    <div class="content">
                        <h3> OUTDOORS </h3>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="custom_builds.html">
                    <img src="../web_static/images/Custom builds.jpg" alt="">
                    <div class="content">
                        <h3> CUSTOM BUILDS </h3>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="footer_content">
            <div class="footer_title">
                <h1> CONTACT US:</h1>
            </div>
            <div class="socials_icons">
                <a href="https://www.whatsapp.com/"> <img src="../web_static/images/whatsapp logo.jpg"> </a>
                <a href="https://web.facebook.com/?_rdc=1&_rdr&wtsid=rdr_0d1b2fzwySmzaIcm7"> <img src="../web_static/images/facebook logo.jpg"> </a>
                <a href="https://www.instagram.com/"> <img src="../web_static/images/instagram logo.jpg"> </a>
            </div>
            <div class="links_box">
                <div class="footer-links">
                    <ul>
                        <li><a href="terms.html" class="rectangular-button"> TERMS AND CONDITIONS  </a></li>
                        <li><a href="delivery.html" class="rectangular-button"> DELIVERY AND WARRANTY </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>